<div style="">
  <div class="dio1">
    <button
      nbButton
      outline
      status="danger"
      (click)="newGame()"
      style="
        margin-top: 4%;

        margin-right: 6%;
      "
    >
      start new tris match
    </button>
  </div>
  <div class="dio1">
    <h3 style="padding-right: 4em;" *ngIf="inizio">player:{{ player }}</h3>
    <DIv>
      <h4 *ngIf="inizio">score O:{{ owin }} X:{{ xwin }}</h4>
    </DIv>
  </div>

  <div class="dio1">
    <main class="dio">
      <app-square
        *ngFor="let val of squares; let i = index"
        [value]="val"
        (click)="makeMove(i)"
        style="height: 100%;"
      ></app-square>
    </main>
  </div>
</div>
