@import "themes";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

@import "~@nebular/theme/styles/globals";

@include nb-install() {
  @include nb-theme-global();
}
/* You can add global styles to this file, and also import other style files */
$primary: rgb(67, 0, 111);

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  margin: 0%;
  font-family: Nuito + Sans;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  color: white;
}
nav {
  float: right;
}
ul {
  list-style-type: none;
  margin: 0em;
  display: flex;
}
li a {
  padding: 1em;
  &:hover {
    background: darken($primary, 10%);
  }
}

:root {
  --white: hsl (0, 0%, 0%);
  --d-element: var(--dark);
  --d-bg: hsl(357, 82%, 40%);
  --d-text: var(--white);
  --l-text: hsl>(200, 15%, 8%);
  --l-input: hsl(0, 0%, 50%);
  --l-bg: hsl(44, 71%, 20%);
  --l-element: var(--white);
  --l-text: var(--dark);
}
* {
  margin: 0px;
  padding: 0px;
}
